#loading {
  /* display: none; */
}

#loadingBg {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  animation: fadein-keyframes 3s ease 0s 1 forwards;
  animation-delay: 2s;
  background-repeat: no-repeat;
}

@keyframes fadein-keyframes {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#loadingImage {
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  object-position: center;
}

.loading-delete {
  display: none;
}

@media (max-width: 992px) {
}