<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="工学院大学第73回新宿祭公式ホームベージです!!">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- icon -->
  <link rel="icon" href="../images/73-logo.png">
  <!-- css -->
  <link rel="stylesheet" href="../css/destyle.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/return-page-top.css">
  <link rel="stylesheet" href="../css/header.css">
  <!-- <link rel="stylesheet" href="../css/main.css"> -->
  <link rel="stylesheet" href="../css/footer-top.css">
  <link rel="stylesheet" href="../css/footer-bottom.css">
    <!-- sub-css -->
    <link rel="stylesheet" href="../css/sub-page/top-view.css">
    <link rel="stylesheet" href="../css/sub-page/sub-contents.css">
    <link rel="stylesheet" href="../css/sub-page/access.css">
    <link rel="stylesheet" href="../css/sub-page/overview.css">
  <!-- fontwesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- title -->
  <title>アクセス | 工学院大学 第73回新宿祭</title>
</head>
<body>
  <!-- return-page-top -->
  <div class="return-page-top">
    <a href="#"></a>
  </div>

  <!-- header -->
  <header id="header">
    <div class="container">
      <div id="header-left">
        <h1><strong><a href="../index.html"><img src="../images/73-logo.png">第73回新宿祭</a></strong></h1>
      </div>
      <nav id="header-right">
        <ul class="items">
          <li class="item"><a href="../index.html">Home</a></li>
          <li class="item"><a href="infomation.html">総合案内</a></li>
          <li id="dropdownWrapper" class="item dropdown-wrapper">
            <button id="dropdownBtn" href="#">メニュー<i class="fas fa-chevron-down"></i></button>
            <ul id="dropdown">
              <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
              <li><a href="stage-event.html">ステージ企画</a></li>
              <li><a href="guest.html">ゲスト企画</a></li>
              <li><a href="classroom-exhibition.html">展示企画</a></li>
              <li><a href="access.html">アクセス</a></li>
              <li><a href="festival.html">学園祭について</a></li>
              <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
            </ul>
          </li>
          <li class="item"><a href="sns.html">公式SNS</a></li>
          <li class="item"><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
          <li id="acMenu-wrapper" class="acMenu-wrapper item">
            <button id="acMenuBtn" href="#"><i id="faBars" class="fas fa-bars"></i></button>
            <!-- <button id="acMenuBtn" href="#"><i id="faTimes" class="fas fa-times"></i></button> -->
            <ul id="acMenu">
              <li><a href="#">Home</a></li>
              <li><a href="infomation.html">総合案内</a></li>
              <li><a href="sns.html">公式SNS</a></li>
              <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
              <li><a href="stage-event.html">ステージ企画</a></li>
              <li><a href="guest.html">ゲスト企画</a></li>
              <li><a href="classroom-exhibition.html">展示企画</a></li>
              <li><a href="access.html">アクセス</a></li>
              <li><a href="festival.html">学園祭について</a></li>
              <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
              <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
              <br>
              <li><h3>外部リンク</h3></li>
              <li><a class="outlink" href="https://www.kogakuin.ac.jp/">▶工学院大学</a></li>
              <li><a class="outlink" href="https://www.ns.kogakuin.ac.jp/~wws5024/">▶第59回八王子祭</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- top-view -->
  <div id="top-view">
    <video autoplay playsinline muted>
      <source src="../video/access.mp4" type="video/mp4" />
    </video>
  </div>

  <main id="main">
    <div class="sub-contents">
      <div class="container">
        <div id="access" class="sub-set">
          <h2 class="sub-ttl"><span class="whatwg">アクセス</span></h2>
          <div class="access-box">
            <iframe class="access-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12961.805883534991!2d139.6956855!3d35.6905062!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4799331255aa4c4a!2z5bel5a2m6Zmi5aSn5a2mIOaWsOWuv-OCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2sjp!4v1633064596027!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="access-text">
              <h3>アクセス</h3>
              <br>
              <br>
              <p>
                工学院大学新宿キャンパス<br>
                東京都新宿区西新宿1丁目24番2号<br>
                <br>
                JR「新宿駅」下車、西口より徒歩5分<br>
                京王線、小田急線、地下鉄各線「新宿駅」下車、徒歩5分<br>
                都営大江戸線「都庁前駅」下車、徒歩3分<br>
                西武新宿線「西武新宿駅」下車、徒歩10分<br>
              </p>
            </div>
          </div>
        </div>
        <div id="overview" class="overview sub-set">
          <h2 class="sub-ttl"><span class="whatwg">団体情報</span></h2>
          <div class="overview-box">
            <img src="../images/gakuensai_logo.jpg" alt="">
            <div class="overview-text">
              <h3>概要</h3>
              <br>
              <br>
              <p>
                名称：工学院大学 第73回新宿祭<br>
                開催日：2021年11月19日(金)-11月21日(日) 12月5日(日)<br>
                テーマ：ウエスタン<br>
                会場：工学院大学 新宿キャンパス<br>
                <a href="https://www.youtube.com/channel/UCnpniRRt0FdUFXYxQ1n0yjg">工学院大学 学園祭公式YouTubeチャンネル</a><br>
                主催：工学院大学 学園祭実行委員会 新宿祭実行部<br>
                Address：〒163-8677東京都新宿区西新宿1丁目24-2<br>
                Tel：03-3348-9638<br>
                E-mail：wws5011@ns.kogakuin.ac.jp<br>
                G-mail：shinjukusai73@gmail.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

    <!-- footer -->
  <footer id="footer">

    <!-- footer-top -->
    <div id="footer-top">
      <ul class="page-links">
        <li><a href="https://www.kogakuin.ac.jp/">工学院大学</a></li>
        <li><a href="https://www.ns.kogakuin.ac.jp/~wws5024/">第59回八王子祭</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
        <li><a href="festival.html">学園祭について</a></li>
        <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
      </ul>
      <hr>
      <div class="footer-info">
        <div class="footer-info-left">
          <img src="../images/73ndrogo_white.png" alt="">
          <ul class="items">
            <li class="item">工学院大学 学園祭実行委員会 新宿祭実行部</li>
            <li class="item">Address:〒163-8677東京都新宿区西新宿1丁目24-2</li>
            <li class="item">Tel:<a href="">03-3348-9638</a></li>
            <li class="item">E-mail:<a href="">wws5011@ns.kogakuin.ac.jp</a></li>
            <li class="item">G-mail:<a href="">shinjukusai73@gmail.com</a></li>
          </ul>
        </div>
        <div class="footer-info-right">
          <a class="youtube" href="https://www.youtube.com/channel/UCnpniRRt0FdUFXYxQ1n0yjg"></a>
          <a class="twitter" href="https://twitter.com/jukusai_73"></a>
          <a class="instagram" href="https://www.instagram.com/73nd_jukusai/"></a>
        </div>
      </div>

    </div>

    <!-- footer-bottom -->
    <div id="footer-bottom">
      <p>©Kogakuin University 73nd Shinjuku Festival.</p>
    </div>

  </footer>
  <!-- script -->
  <script src="../js/header.js"></script>
</body>
</html>