<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="工学院大学第73回新宿祭公式ホームベージです!!">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- icon -->
  <link rel="icon" href="../images/73-logo.png">
  <!-- css -->
  <link rel="stylesheet" href="../css/destyle.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/return-page-top.css">
  <link rel="stylesheet" href="../css/header.css">
  <!-- <link rel="stylesheet" href="../css/main.css"> -->
  <link rel="stylesheet" href="../css/footer-top.css">
  <link rel="stylesheet" href="../css/footer-bottom.css">
    <!-- sub-css -->
    <link rel="stylesheet" href="../css/sub-page/top-view.css">
    <link rel="stylesheet" href="../css/sub-page/sub-contents.css">
    <link rel="stylesheet" href="../css/sub-page/overview.css">
  <!-- fontwesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- title -->
  <title>アーティストライブ | 工学院大学 第73回新宿祭</title>
</head>
<body>
  <!-- return-page-top -->
  <div class="return-page-top">
    <a href="#"></a>
  </div>

<!-- header -->
<header id="header">
  <div class="container">
    <div id="header-left">
      <h1><strong><a href="../index.html"><img src="../images/73-logo.png">第73回新宿祭</a></strong></h1>
    </div>
    <nav id="header-right">
      <ul class="items">
        <li class="item"><a href="../index.html">Home</a></li>
        <li class="item"><a href="infomation.html">総合案内</a></li>
        <li id="dropdownWrapper" class="item dropdown-wrapper">
          <button id="dropdownBtn" href="#">メニュー<i class="fas fa-chevron-down"></i></button>
          <ul id="dropdown">
            <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
            <li><a href="stage-event.html">ステージ企画</a></li>
            <li><a href="guest.html">ゲスト企画</a></li>
            <li><a href="classroom-exhibition.html">展示企画</a></li>
            <li><a href="access.html">アクセス</a></li>
            <li><a href="festival.html">学園祭について</a></li>
            <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
          </ul>
        </li>
        <li class="item"><a href="sns.html">公式SNS</a></li>
        <li class="item"><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
        <li id="acMenu-wrapper" class="acMenu-wrapper item">
          <button id="acMenuBtn" href="#"><i id="faBars" class="fas fa-bars"></i></button>
          <!-- <button id="acMenuBtn" href="#"><i id="faTimes" class="fas fa-times"></i></button> -->
          <ul id="acMenu">
            <li><a href="#">Home</a></li>
            <li><a href="infomation.html">総合案内</a></li>
            <li><a href="sns.html">公式SNS</a></li>
            <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
            <li><a href="stage-event.html">ステージ企画</a></li>
            <li><a href="guest.html">ゲスト企画</a></li>
            <li><a href="classroom-exhibition.html">展示企画</a></li>
            <li><a href="access.html">アクセス</a></li>
            <li><a href="festival.html">学園祭について</a></li>
            <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
            <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
            <br>
            <li><h3>外部リンク</h3></li>
            <li><a class="outlink" href="https://www.kogakuin.ac.jp/">▶工学院大学</a></li>
            <li><a class="outlink" href="https://www.ns.kogakuin.ac.jp/~wws5024/">▶第59回八王子祭</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

  <!-- top-view -->
  <div id="top-view">
    <video autoplay playsinline muted>
      <source src="../video/artistlive.mp4" type="video/mp4" />
    </video>
  </div>

  <main id="main">
    <div id="artist" class="sub-contents">
      <div class="container">
        <div class="sub-set">
          <h2 class="sub-ttl">アーティストライブ</h2>
          <div class="sub-set-item">
            <h3>開催日時・開催場所</h3>
            <div class="sub-set-item-hold">
              <div class="sub-set-item-hold-off">
                <h4>有観客開催(※学内生のみ)</h4>
                <p>
                  2021年11月19日(金)<br>
                  開場：14:30<br>
                  開演：15:00<br>
                  場所：工学院大学 新宿キャンパス メインステージ（1F アトリウム）<br><br>
                  <a class="reserve" href="https://docs.google.com/forms/d/e/1FAIpQLScMKgmbdFrtMlIEPZ5WT6ZI1b1Gg0ZG04enyokpi2AK8XJuyQ/viewform?usp=sf_link">▶︎事前受付はこちらから</a><br><br>
                  <span class="warning">※入場無料・先着順　学内生のみ入場可</span><br>
                </p>
              </div>
              <div class="sub-set-item-hold-on">
                <h4>オンライン開催(一般)</h4>
                <p>
                  2021年12月5日(日)<br>
                  開演：19:00<br>
                  <a href="https://www.youtube.com/channel/UCnpniRRt0FdUFXYxQ1n0yjg">▶︎工学院大学 学園祭公式YouTubeチャンネル</a><br>
                  <span class="warning">※見逃し配信(アーカイブ配信)等の予定はございません。</span>
                </p>
              </div>
            </div>
            <h3>出演者情報</h3>
            <div id="" class="overview">
              <div class="overview-box">
                <img src="../images/sub-page/ktn-apic-2021.jpg" alt="">
                <div class="overview-text">
                  <h4>キタニタツヤ</h4>
                  <p>
                    1996年生まれ、東京大学文学部卒業。<br>
                    日本のシンガーソングライターでありベーシスト。<br>
                    ボカロP「n-buna」とのバンド、ヨルシカのベースを担当。<br>
                    2018年にはバンド『sajou no hana』を結成。<br>
                    アニメ「ダンまち（ダンジョンに出会いを求めるのは間違っているだろうか）」、「モブサイコの」の主題歌を務める。<br>
                    同年9月にはソロ作品ファーストアルバム「I DO（NOT）LOVE YOU」を発表。<br>
                    「悪魔の踊り方」はYouTube1226万回再生突破。<br>
                    2020年には、ファーストテイク出演。<br>
                    2021年「BLEACH」原画展のテーマソングも務める。<br>
                    作編曲もベースもギターも多方面で才能を発揮している。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="sub-set-item">
            <h3>注意事項</h3>
            <p>
              〇新型コロナウイルス感染症対策について
              新宿祭では東京都のガイドラインに基づいて、適切な新型コロナウイルス感染症対策を行っております。
              来場者の皆様も徹底した感染症対策へのご協力をよろしくお願いいたします。<br><br>
              <a href="corona-notes.html">▶第73回新宿祭の新型コロナウイルス感染症対策の取り組みはコチラ</a><br><br>

              〇規制入場について<br>
              入場時の待機列は1階メインステージの南口側で、間隔をあけて整列していただきます。<br>
              整理券番号でA列の方から2列づつに分けて規制入場を行います。<br>
				      Gmailに送らせていただいた電子チケットに入場時間を記載しております。<br><br>

              〇規制退場について<br>
              退場時は規制退場を行い、列ごとに退場していただきます。<br><br>

              〇持ち込み不可の物品について<br>
              ・極端に長いサイリウム、輝度の強いサイリウム、誘導灯、扇形や円形、オフィシャルグッズのサイズや輝度に準じていないサイリウム<br>
              ・撮影・録音機器(カメラがついたスマートフォンの持ち込みは禁止していませんが、マナーモードに設定し、講演中は使用しないでください)<br><br>

              〇禁止行為について<br>
              ・総合案内や新型コロナウイルス感染症対策に反する行為<br>
              ・モッシュ、ダイブ、大声等<br>
              ・周囲のお客様のご迷惑となる視界の妨げや接触<br>
              ・演出の妨げとなる行為<br>
              ・座席や会場設備の破損<br>
              ・会場内への撮影・録音機器の持ち込み、及び録音・撮影行為<br>
              ・公演中の携帯電話の使用<br>
              ・ YouTube配信の内容の録画・撮影行為<br>
              ・運営スタッフの指示に従わない行為<br><br>

              上記の行為を行った場合、退場をお願いする場合がございます。<br>
              また、次年度以降の企画開催が困難になってしまう可能性がございますのでご協力お願いします。
            </p>
          </div>
          <div class="sub-set-item">
            <h3>よくあるご質問</h3>
            <div class="q-a">
              <div class="q">
                <div class="q-a-ttl q-ttl">Q</div>
                <p class="q-a-text">クローク(手荷物一時預かり所)はありますか？</p>
              </div>
              <div class="a">
                <div class="q-a-ttl a-ttl">A</div>
                <p class="q-a-text">新型コロナウイルス感染症対策の観点から会場内にはございません。出来るだけ軽装でお越しください。</p>
              </div>
            </div>
            <div class="q-a">
              <div class="q">
                <div class="q-a-ttl q-ttl">Q</div>
                <p class="q-a-text">当日券はありますか？</p>
              </div>
              <div class="a">
                <div class="q-a-ttl a-ttl">A</div>
                <p class="q-a-text">当日券のご用意は予定しておりません。また、座席数が例年より少ないため、確実に入場できるよう事前受付をお早めに行ってください。</p>
              </div>
            </div>
            <div class="q-a">
              <div class="q">
                <div class="q-a-ttl q-ttl">Q</div>
                <p class="q-a-text">当日必要なモノはありますか？</p>
              </div>
              <div class="a">
                <div class="q-a-ttl a-ttl">A</div>
                <p class="q-a-text">整理券と学生証が必要です。学生証がない場合、入場をお断りする場合がございます。</p>
              </div>
            </div>
            <div>
              <div class="q">
                <div class="q-a-ttl q-ttl">Q</div>
                <p class="q-a-text">YouTubeでの配信後はいつでも視聴することができますか？</p>
              </div>
              <div class="a">
                <div class="q-a-ttl a-ttl">A</div>
                <p class="q-a-text">配信時間から遡って視聴することや、見逃し配信(アーカイブ配信)はありません。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="sub-set">
          <div class="back-btns">
            <a class="home-btn" href="../index.html">
              <img src="../images/sub-page/home.png" alt="">
              HOMEに戻る
            </a>
            <a class="back-btn" href="#" onclick="history.back(-1);return false;">
              &lt;前のページに戻る
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>

    <!-- footer -->
  <footer id="footer">

    <!-- footer-top -->
    <div id="footer-top">
      <ul class="page-links">
        <li><a href="https://www.kogakuin.ac.jp/">工学院大学</a></li>
        <li><a href="https://www.ns.kogakuin.ac.jp/~wws5024/">第59回八王子祭</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
        <li><a href="festival.html">学園祭について</a></li>
        <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
      </ul>
      <hr>
      <div class="footer-info">
        <div class="footer-info-left">
          <img src="../images/73ndrogo_white.png" alt="">
          <ul class="items">
            <li class="item">工学院大学 学園祭実行委員会 新宿祭実行部</li>
            <li class="item">Address:〒163-8677東京都新宿区西新宿1丁目24-2</li>
            <li class="item">Tel:<a href="">03-3348-9638</a></li>
            <li class="item">E-mail:<a href="">wws5011@ns.kogakuin.ac.jp</a></li>
            <li class="item">G-mail:<a href="">shinjukusai73@gmail.com</a></li>
          </ul>
        </div>
        <div class="footer-info-right">
          <a class="youtube" href="https://www.youtube.com/channel/UCnpniRRt0FdUFXYxQ1n0yjg"></a>
          <a class="twitter" href="https://twitter.com/jukusai_73"></a>
          <a class="instagram" href="https://www.instagram.com/73nd_jukusai/"></a>
        </div>
      </div>

    </div>

    <!-- footer-bottom -->
    <div id="footer-bottom">
      <p>©Kogakuin University 73nd Shinjuku Festival.</p>
    </div>

  </footer>
  <!-- script -->
  <script src="../js/header.js"></script>
</body>
</html>