<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="工学院大学第73回新宿祭公式ホームベージです!!">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- icon -->
  <link rel="icon" href="../images/73-logo.png">
  <!-- css -->
  <link rel="stylesheet" href="../css/destyle.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/return-page-top.css">
  <link rel="stylesheet" href="../css/header.css">
  <!-- <link rel="stylesheet" href="../css/main.css"> -->
  <link rel="stylesheet" href="../css/footer-top.css">
  <link rel="stylesheet" href="../css/footer-bottom.css">
    <!-- sub-css -->
    <link rel="stylesheet" href="../css/sub-page/top-view.css">
    <link rel="stylesheet" href="../css/sub-page/sub-contents.css">
    <link rel="stylesheet" href="../css/sub-page/overview.css">
    <link rel="stylesheet" href="../css/sub-page/guest.css">
  <!-- fontwesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- title -->
  <title>展示企画 | 工学院大学 第73回新宿祭</title>
</head>
<body>
  <!-- return-page-top -->
  <div class="return-page-top">
    <a href="#"></a>
  </div>

<!-- header -->
<header id="header">
  <div class="container">
    <div id="header-left">
      <h1><strong><a href="../index.html"><img src="../images/73-logo.png">第73回新宿祭</a></strong></h1>
    </div>
    <nav id="header-right">
      <ul class="items">
        <li class="item"><a href="../index.html">Home</a></li>
        <li class="item"><a href="infomation.html">総合案内</a></li>
        <li id="dropdownWrapper" class="item dropdown-wrapper">
          <button id="dropdownBtn" href="#">メニュー<i class="fas fa-chevron-down"></i></button>
          <ul id="dropdown">
            <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
            <li><a href="stage-event.html">ステージ企画</a></li>
            <li><a href="guest.html">ゲスト企画</a></li>
            <li><a href="classroom-exhibition.html">展示企画</a></li>
            <li><a href="access.html">アクセス</a></li>
            <li><a href="festival.html">学園祭について</a></li>
            <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
          </ul>
        </li>
        <li class="item"><a href="sns.html">公式SNS</a></li>
        <li class="item"><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
        <li id="acMenu-wrapper" class="acMenu-wrapper item">
          <button id="acMenuBtn" href="#"><i id="faBars" class="fas fa-bars"></i></button>
          <!-- <button id="acMenuBtn" href="#"><i id="faTimes" class="fas fa-times"></i></button> -->
          <ul id="acMenu">
            <li><a href="#">Home</a></li>
            <li><a href="infomation.html">総合案内</a></li>
            <li><a href="sns.html">公式SNS</a></li>
            <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
            <li><a href="stage-event.html">ステージ企画</a></li>
            <li><a href="guest.html">ゲスト企画</a></li>
            <li><a href="classroom-exhibition.html">展示企画</a></li>
            <li><a href="access.html">アクセス</a></li>
            <li><a href="festival.html">学園祭について</a></li>
            <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
            <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
            <br>
            <li><h3>外部リンク</h3></li>
            <li><a class="outlink" href="https://www.kogakuin.ac.jp/">▶工学院大学</a></li>
            <li><a class="outlink" href="https://www.ns.kogakuin.ac.jp/~wws5024/">▶第59回八王子祭</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- top-view -->
<div id="top-view">
  <video autoplay playsinline muted>
    <source src="../video/information.mp4" type="video/mp4" />
  </video>
</div>

<main id="main">
  <div id="classroomExhibition" class="sub-contents">
    <div class="container">
      <div class="sub-set">
        <h2 class="sub-ttl">展示企画参加団体紹介</h2>
          <div class="overview">
            <div class="overview-box">
              <img src="../images/sub-page/syashin.jpg" alt="">
              <div class="overview-text">
                <h4>
                  写真部<br>
                  〜新宿祭写真展2021〜
                </h4>
                <p>
                  オンライン授業、部活動停止、緊急事態宣言、<br>
                  様々な制約を強いられている大学生。<br>
                  写真部ではこのような状況でも、<br>
                  オンラインで交流を活発に行ってきました。<br>
                  部員一人ひとりの個性を写真を通じて楽しんでください。
                </p>
              </div>
            </div>
          </div>
          <div class="overview">
            <div class="overview-box">
              <img src="../images/sub-page/ink.png" alt="">
              <div class="overview-text">
                <h4>
                  ink.<br>
                  〜DRink.〜
                </h4>
                <p>
                    インクではサークル誌の他サークルメンバーが<br>
                    お気に入りの本を紹介するレビューやメンバーが持ち寄った本を提示致します。<br>
                    ぜひお越しください
                  </p>
                </div>
              </div>
            </div>
            <div class="sub-set-item">
              <h3>普段の活動内容</h3>
              <p>
                小説をはじめとする創作物を、様々な方式で活動時間内に創作する。例えばお題を出して1時間で創作・完成させたり、1つの創作物をメンバーが交代してリレー方式で創作する、など。
              </p>
              <h3>過去新宿祭参加内容</h3>
              <img class="inner-left-img" src="../images/sub-page/ink-sanka.jpg" alt=""><br><br>
              <p>
                第70回新宿祭では模擬店と教室展示を組み合わせてブックカフェを設置し、サークル誌、書籍をオススメするポスター、サークルメンバーが持ち寄った書籍などの展示を行った。<br><br>
              </p>
            </div>
            <div class="overview">
              <div class="overview-box">
                <img src="../images/sub-page/if.jpg" alt="">
                <div class="overview-text">
                  <h4>
                    I.F.<br>
                    〜I.F.展覧会〜
                  </h4>
                  <p>
                    新宿祭のテーマにあわせたイラスト本の頒布や、<br>
                    イラストの展示などをおこなっています！<br>
                    お絵描きスペースもありますので是非一度覗いてみて下さい！
                  </p>
                </div>
              </div>
            </div>
            <div class="sub-set-item">
              <h3>普段の活動内容</h3>
              <p>
                対面ができるときはワンドロをメインに行っています。<br>
                遠隔の際はLINE上でワンドロや絵チャをやっています。
              </p>
              <h3>過去新宿祭参加内容</h3>
              <img class="inner-left-img" src="../images/sub-page/if-katudou.jpg" alt="">
              <p>
                第７０回新宿祭では教室展示でイラストを展示、冊子の配布を行いました。<br><br>
              </p>
            </div>
            <div class="overview">
              <div class="overview-box">
                <img src="../images/sub-page/tetsudou-kennkyuu.jpg" alt="">
                <div class="overview-text">
                  <h4>
                    工学院大学文化会鉄道研究部<br>
                    〜KUレールランド〜
                  </h4>
                  <p>
                    さぁミニチュア・ヴァーチャルな世界へ。<br>
                    皆の世界では電車の運転をするには免許が要るが、<br>
                    ここではだれでも電車の運転士になれる！<br>
                    現実に走る電車の写真に囲まれながら電車を運転しよう！
                  </p>
                </div>
              </div>
            </div>
            <div class="sub-set-item">
              <h3>普段の活動内容</h3>
              <p>
                イベントへの出展、Nゲージの走行・管理
              </p>
              <h3>過去の受賞歴、大会出場歴、成果</h3>
              <p>
                上田子ども夢フェスタに毎年参加
              </p>
              <h3>展示内容</h3>
              <div class="two-box">
                <div class="img-text">
                  <img src="../images/sub-page/tetudou-tenji1.JPG" alt="">
                </div>
                <div class="img-text">
                  <img src="../images/sub-page/tetudou-tenji2.jpg" alt="">
                </div>
              </div>
              <p>
                鉄道模型
              </p>
              <br><br><br>
            </div>
            <div class="overview">
              <div class="overview-box">
                <img src="../images/sub-page/manga-sanka.png" alt="">
                <div class="overview-text">
                  <h4>
                    マンガ研究会
                  </h4>
                  <p>
                    部誌のMit Kempferやリレーマンガを展示
                  </p>
                </div>
              </div>
            </div>
            <div class="sub-set-item">
              <h3>普段の活動内容</h3>
              <img class="inner-left-img" src="../images/sub-page/manga-katudou.png" alt="">
              <p>
                普段は週一回に部会を行い、部員でお題を決め合って、絵を描いています。
              </p>
              <h3>過去新宿祭参加内容</h3>
              <img class="inner-left-img" src="../images/sub-page/manga-sanka.png" alt="">
              <p>
                第７０回新宿祭では、教室展示で部誌であるMit Kempferや、リレーマンガ等を展示しておりました。
              </p>
              <h3>過去の受賞歴、大会出場歴、成果</h3>
              <img class="inner-left-img" src="../images/sub-page/manga-jusyou.jpg" alt="">
              <p>
                毎年夏冬コミケに出す部誌である、Mit Kempferを描いています<br><br>
              </p>
            </div>
            <div class="overview">
              <div class="overview-box">
                <img src="../images/sub-page/denshigijutu-katudou1.jpeg" alt="">
                <div class="overview-text">
                  <h4>
                    電子技術研究部
                  </h4>
                  <p>
                    各部員が製作した電子工作物を展示
                  </p>
                </div>
              </div>
            </div>
            <div class="sub-set-item">
              <h3>普段の活動内容</h3>
              <p>
                PA活動では自分たちで音響機材をセットし、演習を行ったり、学内のイベントの音響を担当します。<br>
                電子工作は部員各々が自由に製作を行っています。<br>
                また、PC関連の活動も行っています。
              </p>
              <h3>過去新宿祭参加内容</h3>
              <div class="two-box">
                <div class="img-text">
                  <img src="../images/sub-page/denshigijutu-katudou1.jpeg" alt="">
                </div>
                <div class="img-text">
                  <img src="../images/sub-page/denshigijutu-katudou2.jpeg" alt="">
                </div>
              </div>
              <p>
                教室展示で電子工作品を展示
              </p>
              <h3>過去の受賞歴、大会出場歴、成果</h3>
              <p>
                2018年 GUGEN出場<br><br>
              </p>
            </div>
            <div class="overview">
              <div class="overview-box">
                <img src="../images/sub-page/rengou-katudou1.jpg" alt="">
                <div class="overview-text">
                  <h4>
                    工学院大学学科連合委員会
                  </h4>
                  <p>
                    開催形態の変更により今年度は展示中止
                  </p>
                </div>
              </div>
            </div>
            <div class="sub-set-item">
              <h3>普段の活動内容</h3>
              <div class="two-box">
                <div class="img-text">
                  <img src="../images/sub-page/rengou-katudou1.jpg" alt="">
                </div>
                <div class="img-text">
                  <img src="../images/sub-page/rengou-katudou2.jpg" alt="">
                </div>
                <div class="img-text">
                  <img src="../images/sub-page/rengou-katudou3.jpg" alt="">
                </div>
              </div>
              <p>
                学科連合委員会では、工学院生の学生生活をより良くするために、前期後期にイベントを行っています！<br>
                八王子キャンパスでは前期にスポーツ大会、後期にクリスマスパーティーでビンゴ大会を！<br>
                新宿キャンパスでは前期にビンゴ大会を！<br>
                例年行っています！<br>
                新宿でも八王子でも参加出来るイベントを用意しているのでぜひ皆さんお越しください！
              </p>
              <h3>過去新宿祭参加内容</h3>
              <div class="two-box">
                <div class="img-text">
                  <img src="../images/sub-page/rengou-sanka1.png" alt="">
                </div>
                <div class="img-text">
                  <img src="../images/sub-page/rengou-sanka2.jpg" alt="">
                </div>
              </div>
              <p>
                第70回新宿祭では模擬店を2店舗出店し、じゃがバターと豚汁を販売
              </p>
            </div>
          </div>
        <div class="sub-set">
          <div class="back-btns">
            <a class="home-btn" href="../index.html">
              <img src="../images/sub-page/home.png" alt="">
              HOMEに戻る
            </a>
            <a class="back-btn" href="#" onclick="history.back(-1);return false;">
              &lt;前のページに戻る
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>

    <!-- footer -->
  <footer id="footer">

    <!-- footer-top -->
    <div id="footer-top">
      <ul class="page-links">
        <li><a href="https://www.kogakuin.ac.jp/">工学院大学</a></li>
        <li><a href="https://www.ns.kogakuin.ac.jp/~wws5024/">第59回八王子祭</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
        <li><a href="festival.html">学園祭について</a></li>
        <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
      </ul>
      <hr>
      <div class="footer-info">
        <div class="footer-info-left">
          <img src="../images/73ndrogo_white.png" alt="">
          <ul class="items">
            <li class="item">工学院大学 学園祭実行委員会 新宿祭実行部</li>
            <li class="item">Address:〒163-8677東京都新宿区西新宿1丁目24-2</li>
            <li class="item">Tel:<a href="">03-3348-9638</a></li>
            <li class="item">E-mail:<a href="">wws5011@ns.kogakuin.ac.jp</a></li>
            <li class="item">G-mail:<a href="">shinjukusai73@gmail.com</a></li>
          </ul>
        </div>
        <div class="footer-info-right">
          <a class="youtube" href="https://www.youtube.com/channel/UCnpniRRt0FdUFXYxQ1n0yjg"></a>
          <a class="twitter" href="https://twitter.com/jukusai_73"></a>
          <a class="instagram" href="https://www.instagram.com/73nd_jukusai/"></a>
        </div>
      </div>

    </div>

    <!-- footer-bottom -->
    <div id="footer-bottom">
      <p>©Kogakuin University 73nd Shinjuku Festival.</p>
    </div>

  </footer>
  <!-- script -->
  <script src="../js/header.js"></script>
</body>
</html>