<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="工学院大学第72回新宿祭公式ホームベージです!!">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- icon -->
  <link rel="icon" href="../images/72-logo.jpg">
  <!-- css -->
  <link rel="stylesheet" href="../css/destyle.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/return-page-top.css">
  <link rel="stylesheet" href="../css/header.css">
  <!-- <link rel="stylesheet" href="../css/main.css"> -->
  <link rel="stylesheet" href="../css/footer-top.css">
  <link rel="stylesheet" href="../css/footer-bottom.css">
    <!-- sub-css -->
    <link rel="stylesheet" href="../css/sub-page/top-view.css">
    <link rel="stylesheet" href="../css/sub-page/sub-contents.css">
  <!-- fontwesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- title -->
  <title>感染症対策 | 工学院大学 第72回新宿祭</title>
</head>
<body>
  <!-- return-page-top -->
  <div class="return-page-top">
    <a href="#"></a>
  </div>

<!-- header -->
<header id="header">
  <div class="container">
    <div id="header-left">
      <h1><strong><a href="../index.html"><img src="../images/72-logo.jpg">第72回新宿祭</a></strong></h1>
    </div>
    <nav id="header-right">
      <ul class="items">
        <li class="item"><a href="../index.html">Home</a></li>
        <li class="item"><a href="infomation.html">総合案内</a></li>
        <li id="dropdownWrapper" class="item dropdown-wrapper">
          <button id="dropdownBtn" href="#">メニュー<i class="fas fa-chevron-down"></i></button>
          <ul id="dropdown">
            <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
            <li><a href="stage-event.html">ステージ企画</a></li>
            <li><a href="guest.html">ゲスト企画</a></li>
            <li><a href="classroom-exhibition.html">展示企画</a></li>
            <li><a href="access.html">アクセス</a></li>
            <li><a href="festival.html">学園祭について</a></li>
            <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
          </ul>
        </li>
        <li class="item"><a href="sns.html">公式SNS</a></li>
        <li class="item"><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
        <li id="acMenu-wrapper" class="acMenu-wrapper item">
          <button id="acMenuBtn" href="#"><i id="faBars" class="fas fa-bars"></i></button>
          <!-- <button id="acMenuBtn" href="#"><i id="faTimes" class="fas fa-times"></i></button> -->
          <ul id="acMenu">
            <li><a href="#">Home</a></li>
            <li><a href="infomation.html">総合案内</a></li>
            <li><a href="sns.html">公式SNS</a></li>
            <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
            <li><a href="stage-event.html">ステージ企画</a></li>
            <li><a href="guest.html">ゲスト企画</a></li>
            <li><a href="classroom-exhibition.html">展示企画</a></li>
            <li><a href="access.html">アクセス</a></li>
            <li><a href="festival.html">学園祭について</a></li>
            <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
            <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
            <br>
            <li><h3>外部リンク</h3></li>
            <li><a class="outlink" href="https://www.kogakuin.ac.jp/">▶工学院大学</a></li>
            <li><a class="outlink" href="https://www.ns.kogakuin.ac.jp/~wws5024/">▶第59回八王子祭</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

  <!-- top-view -->
  <div id="top-view">
    <video autoplay playsinline muted>
      <source src="../video/efforts.mp4" type="video/mp4" />
    </video>
  </div>

  <main id="main">
    <div id="infomation" class="sub-contents">
      <div class="container">
        <div class="sub-set">
          <h2 class="sub-ttl">工学院大学が提示した感染対策を遵守しております</h2>
          <p>
            <a href="https://www.kogakuin.ac.jp/admissions/topics/2020/f4aq350000004564-att/guideline.pdf">▶工学院大学 新型コロナウイルス感染防止のためのガイドライン</a><br><br>
            <a href="https://www.kogakuin.ac.jp/important/index.html">▶工学院大学 新型コロナウイルス感染症への対応</a><br>
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">マスクを着用していない場合の入場はお断りしております
          </h2>
          <p>
            ご来場時のマスク着用及び咳エチケットの励行にご協力をお願いいたします。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">各所での検温・アルコール消毒にご協力ください</h2>
          <p>
            ・体温が37.5度以上である場合の入場はお断りしております。また、ウイルス感染の可能性のある方、体調のすぐれない方はご来場をお控えください。<br>
            <br>
            ・会場内各所でアルコールを設置しております。手指の消毒にご協力をお願いいたします。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">入場時のアンケート等にご協力よろしくお願いいたします</h2>
          <p>
            ・公式LINE、Googleフォームで来場者の管理、追跡を行っております。<br>
            <br>
            ・工学院大学に在籍中であるが学生証がない場合、入場をお断りする場合がございます。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">リストバンドを着用していない場合、企画等に参加することはできません</h2>
          <p>
            入場受付時に配布するリストバンドをつけていない来場者は、各種イベント等に参加する事はできませんのでご了承ください。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">運営スタッフが定期的な消毒を行っております</h2>
          <p>
            ・運営スタッフ(学園祭実行委員)が、施設内(ウイルスが付着した可能性のある場所等)の定期的な消毒を行っております。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">飲食用に感染防止策を行ったエリア以外での飲食を制限しています</h2>
          <p>
            ・会場内の案内をご確認ください。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">こまめな換気をおこなっております</h2>
          <p>
            ・メインステージであるアトリウムは4階までの吹き抜けであるため、換気が十分に可能です。<br>
            <br>
            ・教室等においても可能な限り常時窓開けを行い、「１時間に２回以上、１回に５分間以上」の基準を大幅に満たしております。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">新型コロナウイルス接触確認アプリ(COCOA)の導入を推奨しております</h2>
          <p>
            ・COCOAは、利用者本人の同意を前提にスマートフォンの近接通信機能(Bluetooth)を利用して、お互いに分からないようプライバシーを確保して、新型コロナウイルス感染症の陽性者と接触した可能性について通知を受け取ることができます。利用者は、陽性者と接触した可能性が分かることで、検査の受診など保健所のサポートを早く受けることができ、利用者が増えることで、感染拡大の防止につながることが期待されています。<br>
            <br>
            ・携帯電話の利用を控える場面においても、「電源及びBluetoothをONにした上でマナーモード」にすることを推奨しております。<br>
            <br>
            <a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/cocoa_00138.html">▶厚生労働省 新型コロナウイルス接触確認アプリ（COCOA)</a>
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">三密回避、十分な人と人との間隔(ソーシャルディスタンス)の確保にご協力ください</h2>
          <p>
            混雑が予想される場所においては、足型マークの設置、誘導員の配置等により、混雑時でも密にならない程度の間隔を確保します。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">感染症発生時の対応について</h2>
          <p>
            感染症が発生した場合、工学院大学関係部署(学生支援課・健康相談室等)の指導の下、迅速な対応を行います。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">緊急連絡先について</h2>
          <p>
            その他、ご不明点がございましたら下記にご連絡ください。
          </p>
          <div class="sub-set-item">
            <br>
            <h3>連絡先</h3>
            <p>
              工学院大学 学園祭実行委員会 新宿祭実行部<br>
              Tel: 03-3348-9638<br>
              E-mail: wws5011@ns.kogakuin.ac.jp<br>
              G-mail: shinjukusai72@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <footer id="footer">

    <!-- footer-top -->
    <div id="footer-top">
      <ul class="page-links">
        <li><a href="https://www.kogakuin.ac.jp/">工学院大学</a></li>
        <li><a href="https://www.ns.kogakuin.ac.jp/~wws5024/">第59回八王子祭</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
        <li><a href="festival.html">学園祭について</a></li>
        <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
      </ul>
      <hr>
      <div class="footer-info">
        <div class="footer-info-left">
          <img src="../images/72ndrogo_white.png" alt="">
          <ul class="items">
            <li class="item">工学院大学 学園祭実行委員会 新宿祭実行部</li>
            <li class="item">Address:〒163-8677東京都新宿区西新宿1丁目24-2</li>
            <li class="item">Tel:<a href="">03-3348-9638</a></li>
            <li class="item">E-mail:<a href="">wws5011@ns.kogakuin.ac.jp</a></li>
            <li class="item">G-mail:<a href="">shinjukusai72@gmail.com</a></li>
          </ul>
        </div>
        <div class="footer-info-right">
          <a class="youtube" href="https://www.youtube.com/channel/UCnpniRRt0FdUFXYxQ1n0yjg"></a>
          <a class="twitter" href="https://twitter.com/jukusai_72"></a>
          <a class="instagram" href="https://www.instagram.com/72nd_jukusai/"></a>
        </div>
      </div>

    </div>

    <!-- footer-bottom -->
    <div id="footer-bottom">
      <p>©Kogakuin University 72nd Shinjuku Festival.</p>
    </div>

  </footer>
  <!-- script -->
  <script src="../js/header.js"></script>
</body>
</html>