<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="工学院大学第73回新宿祭公式ホームベージです!!">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- icon -->
  <link rel="icon" href="../images/73-logo.png">
  <!-- css -->
  <link rel="stylesheet" href="../css/destyle.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/return-page-top.css">
  <link rel="stylesheet" href="../css/header.css">
  <!-- <link rel="stylesheet" href="../css/main.css"> -->
  <link rel="stylesheet" href="../css/footer-top.css">
  <link rel="stylesheet" href="../css/footer-bottom.css">
    <!-- sub-css -->
    <link rel="stylesheet" href="../css/sub-page/top-view.css">
    <link rel="stylesheet" href="../css/sub-page/sub-contents.css">
  <!-- fontwesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- title -->
  <title>総合案内 | 工学院大学 第73回新宿祭</title>
</head>
<body>
  <!-- return-page-top -->
  <div class="return-page-top">
    <a href="#"></a>
  </div>

  <!-- header -->
  <header id="header">
    <div class="container">
      <div id="header-left">
        <h1><strong><a href="../index.html"><img src="../images/73-logo.png">第73回新宿祭</a></strong></h1>
      </div>
      <nav id="header-right">
        <ul class="items">
          <li class="item"><a href="../index.html">Home</a></li>
          <li class="item"><a href="infomation.html">総合案内</a></li>
          <li id="dropdownWrapper" class="item dropdown-wrapper">
            <button id="dropdownBtn" href="#">メニュー<i class="fas fa-chevron-down"></i></button>
            <ul id="dropdown">
              <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
              <li><a href="stage-event.html">ステージ企画</a></li>
              <li><a href="guest.html">ゲスト企画</a></li>
              <li><a href="classroom-exhibition.html">展示企画</a></li>
              <li><a href="access.html">アクセス</a></li>
              <li><a href="festival.html">学園祭について</a></li>
              <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
            </ul>
          </li>
          <li class="item"><a href="sns.html">公式SNS</a></li>
          <li class="item"><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
          <li id="acMenu-wrapper" class="acMenu-wrapper item">
            <button id="acMenuBtn" href="#"><i id="faBars" class="fas fa-bars"></i></button>
            <!-- <button id="acMenuBtn" href="#"><i id="faTimes" class="fas fa-times"></i></button> -->
            <ul id="acMenu">
              <li><a href="#">Home</a></li>
              <li><a href="infomation.html">総合案内</a></li>
              <li><a href="sns.html">公式SNS</a></li>
              <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
              <li><a href="stage-event.html">ステージ企画</a></li>
              <li><a href="guest.html">ゲスト企画</a></li>
              <li><a href="classroom-exhibition.html">展示企画</a></li>
              <li><a href="access.html">アクセス</a></li>
              <li><a href="festival.html">学園祭について</a></li>
              <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
              <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
              <br>
              <li><h3>外部リンク</h3></li>
              <li><a class="outlink" href="https://www.kogakuin.ac.jp/">▶工学院大学</a></li>
              <li><a class="outlink" href="https://www.ns.kogakuin.ac.jp/~wws5024/">▶第59回八王子祭</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- top-view -->
  <div id="top-view">
    <video autoplay playsinline muted>
      <source src="../video/information.mp4" type="video/mp4" />
    </video>
  </div>

  <main id="main">
    <div id="infomation" class="sub-contents">
      <div class="container">
        <div class="sub-set">
          <h2 class="sub-ttl">第73回新宿祭開催について</h2>
          <p>
            第73回新宿祭は、<br>
            11月19日(金) 、11月20日(土) 、11月21日(日) 、12月5日(日) に開催いたします！<br>
            ※12月5日はアーティストライブの配信のみ。<br><br>
            <a href="festival.html">▶第73回新宿祭開催形態について</a><br>
            <a href="stage-event.html">▶ステージタイムスケジュールはこちらから！</a><br>
            <a href="../index.html#contents">▶コンテンツ一覧はこちらから！</a>
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">スタッフがご案内します</h2>
          <p>
            ご不明な点がありましたら、お近くの学園祭スタッフへお声かけください。<br>
            下のスタッフジャンパーが目印です。
          </p>
          <img src="../images/sub-page/staff-jumper.jpg" alt="">
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">新型コロナウイルス感染症対策について
          </h2>
          <p>
            新宿祭では東京都のガイドラインに基づいて、適切な新型コロナウイルス感染症対策を行っております。<br>
            来場者の皆様も徹底した感染症対策へのご協力をよろしくお願いいたします。<br><br>
            <a href="corona-notes.html">▶第73回新宿祭の新型コロナウイルス感染症対策の取り組みはコチラ</a>
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">受付へお越しください</h2>
          <p>
            落し物や迷子、トラブルなど、お困りの際は受付へお越しください。<br>
            学園祭スタッフが常駐しています。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">アンケートにご協力ください</h2>
          <p>
            アンケートにご協力していただくと大抽選会にご参加いただけます。<br>
            来場者の皆様のご意見・ご感想をお聞かせください。今後の新宿祭運営に役立たせていただきます。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">会場内での飲酒は禁止です</h2>
          <p>
            喫煙所以外の喫煙は禁止です。<br>
            喫煙所は、1階の西口側のエントランスを出て左側にございます。<br>
            場所が分からない場合は、フロアマップをご覧になるか、学園祭スタッフまでお尋ねください。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">ペットをお連れのお客様へ</h2>
          <p>
            新宿祭にてペットとの同伴はできませんので、ご了承ください。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">災害や事故などの緊急事について</h2>
          <p>
            ●ケガや病気の場合<br>
            ケガをしてしまった場合や体調が悪くなった場合、またそれに該当する方を見かけた場合は、お近くのスタッフにお声掛けください。健康相談室までご案内いたします。<br>
            <br>
            人が倒れるなど緊急の場合には、黄色の腕章をつけたスタッフをお呼びください。腕章をつけたスタッフは、上級救命講習を受講し、上級救命認定証を所持しています。<br>
          </p>
          <img src="../images/sub-page/jokyukyumei.jpg" alt="">
          <p>
            <br>
            ●火災や地震が起きた場合<br>
            火災が発生した場合、直ちにスタッフをお呼びください。<br>
            地震などの自然災害が起こった場合は、まずご自身の安全を確保してください。<br>
          <img src="../images/sub-page/shakeout.jpg" alt="">
          </p>
          <br><br>
          <p>
            ●新宿キャンパス特有の避難方法<br>
            緊急時、奇数階にいる人は都庁側(西側)の階段から、避難、偶数階にいる人は新宿駅側の貨物エレベーターがある方(東側)の階段から避難してください。<br>
            電力と安全の確保が確認できるまでは、エレベーターの使用は厳禁です。(車椅子等、足の悪い方はスタッフがご案内いたします。)<br>
            <br>
            安全が確認できましたら、スタッフの指示をよく聞き、命を守る行動を行ってください。
          </p>
        </div>
        <div class="sub-set">
          <h2 class="sub-ttl">緊急連絡先について</h2>
          <p>
            その他、ご不明点がございましたら下記にご連絡ください。
          </p>
          <div class="sub-set-item">
            <br>
            <h3>連絡先</h3>
            <p>
              工学院大学 学園祭実行委員会 新宿祭実行部<br>
              Tel: 03-3348-9638<br>
              E-mail: wws5011@ns.kogakuin.ac.jp<br>
              G-mail: shinjukusai73@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>

    <!-- footer -->
  <footer id="footer">

    <!-- footer-top -->
    <div id="footer-top">
      <ul class="page-links">
        <li><a href="https://www.kogakuin.ac.jp/">工学院大学</a></li>
        <li><a href="https://www.ns.kogakuin.ac.jp/~wws5024/">第59回八王子祭</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
        <li><a href="festival.html">学園祭について</a></li>
        <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
      </ul>
      <hr>
      <div class="footer-info">
        <div class="footer-info-left">
          <img src="../images/73ndrogo_white.png" alt="">
          <ul class="items">
            <li class="item">工学院大学 学園祭実行委員会 新宿祭実行部</li>
            <li class="item">Address:〒163-8677東京都新宿区西新宿1丁目24-2</li>
            <li class="item">Tel:<a href="">03-3348-9638</a></li>
            <li class="item">E-mail:<a href="">wws5011@ns.kogakuin.ac.jp</a></li>
            <li class="item">G-mail:<a href="">shinjukusai73@gmail.com</a></li>
          </ul>
        </div>
        <div class="footer-info-right">
          <a class="youtube" href="https://www.youtube.com/channel/UCnpniRRt0FdUFXYxQ1n0yjg"></a>
          <a class="twitter" href="https://twitter.com/jukusai_73"></a>
          <a class="instagram" href="https://www.instagram.com/73nd_jukusai/"></a>
        </div>
      </div>

    </div>

    <!-- footer-bottom -->
    <div id="footer-bottom">
      <p>©Kogakuin University 73nd Shinjuku Festival.</p>
    </div>

  </footer>
  <!-- script -->
  <script src="../js/header.js"></script>
</body>
</html>