<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="工学院大学第73回新宿祭公式ホームベージです!!">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- icon -->
  <link rel="icon" href="../images/73-logo.png">
  <!-- css -->
  <link rel="stylesheet" href="../css/destyle.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/return-page-top.css">
  <link rel="stylesheet" href="../css/header.css">
  <!-- <link rel="stylesheet" href="../css/main.css"> -->
  <link rel="stylesheet" href="../css/footer-top.css">
  <link rel="stylesheet" href="../css/footer-bottom.css">
    <!-- sub-css -->
    <link rel="stylesheet" href="../css/sub-page/top-view.css">
    <link rel="stylesheet" href="../css/sub-page/sub-contents.css">
    <link rel="stylesheet" href="../css/sub-page/overview.css">
    <link rel="stylesheet" href="../css/sub-page/guest.css">
    <link rel="stylesheet" href="../css/sub-page/access.css">
  <!-- fontwesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- title -->
  <title>学園祭オリジナルラーメン開発プロジェクト | 工学院大学 第73回新宿祭</title>
</head>
<body>
  <!-- return-page-top -->
  <div class="return-page-top">
    <a href="#"></a>
  </div>

  <header id="header">
    <div class="container">
      <div id="header-left">
        <h1><strong><a href="../index.html"><img src="../images/73-logo.png">第73回新宿祭</a></strong></h1>
      </div>
      <nav id="header-right">
        <ul class="items">
          <li class="item"><a href="../index.html">Home</a></li>
          <li class="item"><a href="infomation.html">総合案内</a></li>
          <li id="dropdownWrapper" class="item dropdown-wrapper">
            <button id="dropdownBtn" href="#">メニュー<i class="fas fa-chevron-down"></i></button>
            <ul id="dropdown">
              <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
              <li><a href="stage-event.html">ステージ企画</a></li>
              <li><a href="guest.html">ゲスト企画</a></li>
              <li><a href="classroom-exhibition.html">展示企画</a></li>
              <li><a href="access.html">アクセス</a></li>
              <li><a href="festival.html">学園祭について</a></li>
              <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
            </ul>
          </li>
          <li class="item"><a href="sns.html">公式SNS</a></li>
          <li class="item"><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
          <li id="acMenu-wrapper" class="acMenu-wrapper item">
            <button id="acMenuBtn" href="#"><i id="faBars" class="fas fa-bars"></i></button>
            <!-- <button id="acMenuBtn" href="#"><i id="faTimes" class="fas fa-times"></i></button> -->
            <ul id="acMenu">
              <li><a href="#">Home</a></li>
              <li><a href="infomation.html">総合案内</a></li>
              <li><a href="sns.html">公式SNS</a></li>
              <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
              <li><a href="stage-event.html">ステージ企画</a></li>
              <li><a href="guest.html">ゲスト企画</a></li>
              <li><a href="classroom-exhibition.html">展示企画</a></li>
              <li><a href="access.html">アクセス</a></li>
              <li><a href="festival.html">学園祭について</a></li>
              <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
              <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
              <br>
              <li><h3>外部リンク</h3></li>
              <li><a class="outlink" href="https://www.kogakuin.ac.jp/">▶工学院大学</a></li>
              <li><a class="outlink" href="https://www.ns.kogakuin.ac.jp/~wws5024/">▶第59回八王子祭</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- top-view -->
  <div id="top-view">
    <video autoplay playsinline muted>
      <source src="../video/information.mp4" type="video/mp4" />
    </video>
  </div>

  <main id="main">
    <div id="ramen" class="sub-contents">
      <div class="container">
        <div class="sub-set">
          <div class="sub-set-item">
            <h2 class="sub-ttl">学園祭オリジナルラーメン開発プロジェクト</h2>
            <div class="overview">
              <div class="overview-box">
                <img src="../images/ramen.png" alt="">
                <div class="overview-text">
                  <h4>学園祭オリジナルラーメン開発プロジェクト</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="sub-set-item">
            <p>
              工学院大学学園祭コラボラーメン発売決定！🍜<br>
            </p>
            <h3>販売期間</h3>
            <p>
              11/15(月)〜11/28(日)<br>
              ※火曜は定休日<br><br>
            </p>
            <p>
              ー昼ー<br>
              11:30〜15:00<br>
              ー夜ー<br>
              18:00〜21:00<br>
              ※月曜,水曜は昼営業のみ
            </p>
            <h3>価格</h3>
            <p style="font-size: 3rem;">
              680円(税込)
            </p>
            <h3>イメージ動画</h3>
            <iframe class="ramen-mov" src="https://www.youtube.com/embed/-qcgzWehDNk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>
              <a href="https://youtu.be/-qcgzWehDNk">【第73回新宿祭】[先行公開] 学園祭オリジナルラーメン開発プロジェクト<i class="fas fa-external-link-alt"></i></a><br><br>
              本日からオリジナル動画第1弾が先行公開！<br>
              きくみなさんが食レポしています！！！<br>
            </p>
            <h3>アクセス</h3>
          </div>
        </div>
        <div id="access" class="sub-set">
          <div class="sub-set-item">
            <div class="access-box">
              <iframe class="access-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.726924826286!2d139.3305697155544!3d35.659099038792256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60191f7338acbbfb%3A0xe1a6042e9fd5be2c!2z6baP44Gz44GC44KTU29iYeOBv-OChOOBv-OChA!5e0!3m2!1sja!2sjp!4v1636951232594!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              <div class="access-text">
                <h3>アクセス</h3>
                <br>
                <br>
                <p>
                  鶏びあんSoba みやみや<br>
                  東京都 八王子市 南町 6-11<br>
                  <br>
                  ＪＲ八王子駅北口から徒歩8分<br>
                  八王子駅から700m<br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="sub-set">
          <div class="sub-set-item">
            <h3>足を運んでみてください！</h3>
            <img src="../images/sub-page/ramen-pos.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </main>

    <!-- footer -->
  <footer id="footer">

    <!-- footer-top -->
    <div id="footer-top">
      <ul class="page-links">
        <li><a href="https://www.kogakuin.ac.jp/">工学院大学</a></li>
        <li><a href="https://www.ns.kogakuin.ac.jp/~wws5024/">第59回八王子祭</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
        <li><a href="festival.html">学園祭について</a></li>
        <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
      </ul>
      <hr>
      <div class="footer-info">
        <div class="footer-info-left">
          <img src="../images/73ndrogo_white.png" alt="">
          <ul class="items">
            <li class="item">工学院大学 学園祭実行委員会 新宿祭実行部</li>
            <li class="item">Address:〒163-8677東京都新宿区西新宿1丁目24-2</li>
            <li class="item">Tel:<a href="">03-3348-9638</a></li>
            <li class="item">E-mail:<a href="">wws5011@ns.kogakuin.ac.jp</a></li>
            <li class="item">G-mail:<a href="">shinjukusai73@gmail.com</a></li>
          </ul>
        </div>
        <div class="footer-info-right">
          <a class="youtube" href="https://www.youtube.com/channel/UCnpniRRt0FdUFXYxQ1n0yjg"></a>
          <a class="twitter" href="https://twitter.com/jukusai_73"></a>
          <a class="instagram" href="https://www.instagram.com/73nd_jukusai/"></a>
        </div>
      </div>

    </div>

    <!-- footer-bottom -->
    <div id="footer-bottom">
      <p>©Kogakuin University 73nd Shinjuku Festival.</p>
    </div>

  </footer>
  <!-- script -->
  <script src="../js/header.js"></script>
</body>
</html>