<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="工学院大学第72回新宿祭公式ホームベージです!!">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- icon -->
  <link rel="icon" href="../images/72-logo.jpg">
  <!-- css -->
  <link rel="stylesheet" href="../css/destyle.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/return-page-top.css">
  <link rel="stylesheet" href="../css/header.css">
  <!-- <link rel="stylesheet" href="../css/main.css"> -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/footer-top.css">
  <link rel="stylesheet" href="../css/footer-bottom.css">
    <!-- sub-css -->
    <link rel="stylesheet" href="../css/sub-page/top-view.css">
    <link rel="stylesheet" href="../css/sub-page/sub-contents.css">
    <link rel="stylesheet" href="../css/sub-page/overview.css">
    <link rel="stylesheet" href="../css/sub-page/guest.css">
    <link rel="stylesheet" href="../css/sub-page/stage-event-out.css">
  <!-- fontwesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- title -->
  <title>ステージ企画 | 工学院大学 第72回新宿祭</title>
</head>
<body>
  <!-- return-page-top -->
  <div class="return-page-top">
    <a href="#"></a>
  </div>

  <header id="header">
    <div class="container">
      <div id="header-left">
        <h1><strong><a href="../index.html"><img src="../images/72-logo.jpg">第72回新宿祭</a></strong></h1>
      </div>
      <nav id="header-right">
        <ul class="items">
          <li class="item"><a href="../index.html">Home</a></li>
          <li class="item"><a href="infomation.html">総合案内</a></li>
          <li id="dropdownWrapper" class="item dropdown-wrapper">
            <button id="dropdownBtn" href="#">メニュー<i class="fas fa-chevron-down"></i></button>
            <ul id="dropdown">
              <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
              <li><a href="stage-event.html">ステージ企画</a></li>
              <li><a href="guest.html">ゲスト企画</a></li>
              <li><a href="classroom-exhibition.html">展示企画</a></li>
              <li><a href="access.html">アクセス</a></li>
              <li><a href="festival.html">学園祭について</a></li>
              <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
            </ul>
          </li>
          <li class="item"><a href="sns.html">公式SNS</a></li>
          <li class="item"><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
          <li id="acMenu-wrapper" class="acMenu-wrapper item">
            <button id="acMenuBtn" href="#"><i id="faBars" class="fas fa-bars"></i></button>
            <!-- <button id="acMenuBtn" href="#"><i id="faTimes" class="fas fa-times"></i></button> -->
            <ul id="acMenu">
              <li><a href="#">Home</a></li>
              <li><a href="infomation.html">総合案内</a></li>
              <li><a href="sns.html">公式SNS</a></li>
              <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
              <li><a href="stage-event.html">ステージ企画</a></li>
              <li><a href="guest.html">ゲスト企画</a></li>
              <li><a href="classroom-exhibition.html">展示企画</a></li>
              <li><a href="access.html">アクセス</a></li>
              <li><a href="festival.html">学園祭について</a></li>
              <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
              <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
              <br>
              <li><h3>外部リンク</h3></li>
              <li><a class="outlink" href="https://www.kogakuin.ac.jp/">▶工学院大学</a></li>
              <li><a class="outlink" href="https://www.ns.kogakuin.ac.jp/~wws5024/">▶第59回八王子祭</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- top-view -->
  <div id="top-view">
    <video autoplay playsinline muted>
      <source src="../video/information.mp4" type="video/mp4" />
    </video>
  </div>

  <main id="main">
    <div id="stageEvent" class="sub-contents">
      <p style="color: black; font-weight: bold; text-align: center;">
        それぞれのイベントをクリックして詳細をCheck！<br>
        Day1...11/20(土)<br>
        Day2...11/21(日)
      </p>
      <div class="stage-container">
        <div class="day-box day2">
          <img src="../images/sub-page/day1.png" alt="">
          <li class="stageadd-wrapper stageadd-wrapper item">
            <button class="stageaddBtn" href="#">
              <img src="../images/sub-page/day2-1030.png" alt="">
            </button>
            <ul class="stageadd box-shadow">
              <img src="../images/sub-page/day2-1030.png" alt="">
              <p>
                ある村の川で拾われた一つの樽には小さな男の子<br>
                タルタローと名付けられ、すくすく育ったある日、<br>
                盗賊の襲撃により自分が拾われたことを知ってしまう。<br>
                ”許せない〟仲間を連れて盗賊のアジトへ<br>
                そこから衝撃の展開を迎える！
              </p>
              <button class="stageremoveBtn" href="#">
                ✖️
              </button>
            </ul>
          </li>
          <li class="stageadd-wrapper stageadd-wrapper item">
            <button class="stageaddBtn" href="#">
              <img src="../images/sub-page/day2-1200.png" alt="">
            </button>
            <ul class="stageadd box-shadow">
              <img src="../images/sub-page/day2-1200.png" alt="">
              <p>
                リーダーの死後、その意志を受け継ぎし1人の弟子。<br>
                新リーダーとなったその弟子だが、期待に答えられず空回り、、、
              </p>
              <button class="stageremoveBtn" href="#">
                ✖️
              </button>
            </ul>
          </li>
          <li class="stageadd-wrapper stageadd-wrapper item">
            <button class="stageaddBtn" href="#">
              <img src="../images/sub-page/day2-1400.png" alt="">
            </button>
            <ul class="stageadd box-shadow">
              <img src="../images/sub-page/day2-1400.png" alt="">
              <p>
                2年ぶりに帰ってきました！<br>
                今年は、上村祐翔さんと小林裕介さんを<br>
                お招きしてトークショーを行います。<br>
                ぜひ、ご観覧ください！
              </p>
              <button class="stageremoveBtn" href="#">
                ✖️
              </button>
            </ul>
          </li>
          <li class="stageadd-wrapper stageadd-wrapper item">
            <button class="stageaddBtn" href="#">
              <img src="../images/sub-page/day2-1520.png" alt="">
            </button>
            <ul class="stageadd box-shadow">
              <img src="../images/sub-page/day2-1520.png" alt="">
              <p>
                こんにちは！<br>
                マジシャンズソサエティです。<br>
                こちらでは、ステージマジックやジャグリングを披露します。<br>
                驚いたり、盛り上がったり、楽しい時間をお約束します！<br>
                ぜひ見に来て下さい～～～！！
              </p>
              <button class="stageremoveBtn" href="#">
                ✖️
              </button>
            </ul>
          </li>
          <li class="stageadd-wrapper stageadd-wrapper item">
            <button class="stageaddBtn" href="#">
              <img src="../images/sub-page/day2-1620.png" alt="">
            </button>
            <ul class="stageadd box-shadow">
              <img src="../images/sub-page/day2-1620.png" alt="">
              <p>
                ダンスサークルのREADYです。<br>
                僕たちの全力のパフォーマンスをぜひ見てください！！
              </p>
              <button class="stageremoveBtn" href="#">
                ✖️
              </button>
            </ul>
          </li>
        </div>
        <div class="day-box day3">
          <img src="../images/sub-page/day2.png" alt="">
          <li class="stageadd-wrapper stageadd-wrapper item">
            <button class="stageaddBtn" href="#">
              <img src="../images/sub-page/day3-1130.png" alt="">
            </button>
            <ul class="stageadd box-shadow">
              <img src="../images/sub-page/day3-1130.png" alt="">
              <p>
                アカペラサークル-Σ-によるアカペラライブ！<br>
                声だけの演奏で新宿祭を盛り上げます！<br>
                久しぶりのステージなので私達もとてもワクワクしています！<br>
                ぜひ私たちのステージをお楽しみください！
              </p>
              <button class="stageremoveBtn" href="#">
                ✖️
              </button>
            </ul>
          </li>
          <li class="stageadd-wrapper stageadd-wrapper item">
            <button class="stageaddBtn" href="#">
              <img src="../images/sub-page/day3-1300.png" alt="">
            </button>
            <ul class="stageadd box-shadow">
              <img src="../images/sub-page/day3-1300.png" alt="">
              <p>
                今年度はキングオブコント優勝者コロコロチキチキペッパーズ！<br>
                レッドカーペットでお馴染みの５GAPの２組が工学院大学に！！<br>
                第72回新宿祭を大いに盛り上げていただきましょう！！<br>
                是非ご覧ください！
              </p>
              <button class="stageremoveBtn" href="#">
                ✖️
              </button>
            </ul>
          </li>
          <li class="stageadd-wrapper stageadd-wrapper item">
            <button class="stageaddBtn" href="#">
              <img src="../images/sub-page/day3-1400.png" alt="">
            </button>
            <ul class="stageadd box-shadow">
              <img src="../images/sub-page/day3-1400.png" alt="">
              <p>
                こんにちは！<br>
                工学院大学吹奏楽部です。<br>
                今回は、アンサンブルコンサートを開催します。<br>
                普段は大勢で演奏しますが、<br>
                アンサンブルは3人以上で複数の団体が演奏します。<br>
                皆様に楽しい時間を過ごしていただけるよう練習して参りました。<br>
                是非、お聞きください！
              </p>
              <button class="stageremoveBtn" href="#">
                ✖️
              </button>
            </ul>
          </li>
          <li class="stageadd-wrapper stageadd-wrapper item">
            <button class="stageaddBtn" href="#">
              <img src="../images/sub-page/day3-1550.png" alt="">
            </button>
            <ul class="stageadd box-shadow">
              <img src="../images/sub-page/day3-1550.png" alt="">
              <p>
                一階アトリウムで行われるSOLのメインイベント！<br>
                ぜひライブをご覧ください！
              </p>
              <button class="stageremoveBtn" href="#">
                ✖️
              </button>
            </ul>
          </li>
        </div>
      </div>
      <div class="sub-set">
        <div class="back-btns">
          <a class="home-btn" href="../index.html">
            <img src="../images/sub-page/home.png" alt="">
            HOMEに戻る
          </a>
          <a class="back-btn" href="#" onclick="history.back(-1);return false;">
            &lt;前のページに戻る
          </a>
        </div>
      </div>
    </div>
  </main>

    <!-- footer -->
  <footer id="footer">

    <!-- footer-top -->
    <div id="footer-top">
      <ul class="page-links">
        <li><a href="https://www.kogakuin.ac.jp/">工学院大学</a></li>
        <li><a href="https://www.ns.kogakuin.ac.jp/~wws5024/">第59回八王子祭</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
        <li><a href="festival.html">学園祭について</a></li>
        <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
      </ul>
      <hr>
      <div class="footer-info">
        <div class="footer-info-left">
          <img src="../images/72ndrogo_white.png" alt="">
          <ul class="items">
            <li class="item">工学院大学 学園祭実行委員会 新宿祭実行部</li>
            <li class="item">Address:〒163-8677東京都新宿区西新宿1丁目24-2</li>
            <li class="item">Tel:<a href="">03-3348-9638</a></li>
            <li class="item">E-mail:<a href="">wws5011@ns.kogakuin.ac.jp</a></li>
            <li class="item">G-mail:<a href="">shinjukusai72@gmail.com</a></li>
          </ul>
        </div>
        <div class="footer-info-right">
          <a class="youtube" href="https://www.youtube.com/channel/UCnpniRRt0FdUFXYxQ1n0yjg"></a>
          <a class="twitter" href="https://twitter.com/jukusai_72"></a>
          <a class="instagram" href="https://www.instagram.com/72nd_jukusai/"></a>
        </div>
      </div>

    </div>

    <!-- footer-bottom -->
    <div id="footer-bottom">
      <p>©Kogakuin University 72nd Shinjuku Festival.</p>
    </div>

  </footer>
  <!-- script -->
  <script src="../js/header.js"></script>
  <script src="../js/stage.js"></script>
</body>
</html>