<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="工学院大学第72回新宿祭公式ホームベージです!!">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- icon -->
  <link rel="icon" href="../images/72-logo.jpg">
  <!-- css -->
  <link rel="stylesheet" href="../css/destyle.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/return-page-top.css">
  <link rel="stylesheet" href="../css/header.css">
  <!-- <link rel="stylesheet" href="../css/main.css"> -->
  <link rel="stylesheet" href="../css/footer-top.css">
  <link rel="stylesheet" href="../css/footer-bottom.css">
    <!-- sub-css -->
    <link rel="stylesheet" href="../css/sub-page/top-view.css">
    <link rel="stylesheet" href="../css/sub-page/sub-contents.css">
    <link rel="stylesheet" href="../css/sub-page/overview.css">
    <link rel="stylesheet" href="../css/sub-page/guest.css">
  <!-- fontwesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- title -->
  <title>学生プロジェクト展示 | 工学院大学 第72回新宿祭</title>
</head>
<body>
  <!-- return-page-top -->
  <div class="return-page-top">
    <a href="#"></a>
  </div>

<!-- header -->
<header id="header">
  <div class="container">
    <div id="header-left">
      <h1><strong><a href="../index.html"><img src="../images/72-logo.jpg">第72回新宿祭</a></strong></h1>
    </div>
    <nav id="header-right">
      <ul class="items">
        <li class="item"><a href="../index.html">Home</a></li>
        <li class="item"><a href="infomation.html">総合案内</a></li>
        <li id="dropdownWrapper" class="item dropdown-wrapper">
          <button id="dropdownBtn" href="#">メニュー<i class="fas fa-chevron-down"></i></button>
          <ul id="dropdown">
            <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
            <li><a href="stage-event.html">ステージ企画</a></li>
            <li><a href="guest.html">ゲスト企画</a></li>
            <li><a href="classroom-exhibition.html">展示企画</a></li>
            <li><a href="access.html">アクセス</a></li>
            <li><a href="festival.html">学園祭について</a></li>
            <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
          </ul>
        </li>
        <li class="item"><a href="sns.html">公式SNS</a></li>
        <li class="item"><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
        <li id="acMenu-wrapper" class="acMenu-wrapper item">
          <button id="acMenuBtn" href="#"><i id="faBars" class="fas fa-bars"></i></button>
          <!-- <button id="acMenuBtn" href="#"><i id="faTimes" class="fas fa-times"></i></button> -->
          <ul id="acMenu">
            <li><a href="#">Home</a></li>
            <li><a href="infomation.html">総合案内</a></li>
            <li><a href="sns.html">公式SNS</a></li>
            <li><a href="../index.html#contents">新宿祭コンテンツ一覧</a></li>
            <li><a href="stage-event.html">ステージ企画</a></li>
            <li><a href="guest.html">ゲスト企画</a></li>
            <li><a href="classroom-exhibition.html">展示企画</a></li>
            <li><a href="access.html">アクセス</a></li>
            <li><a href="festival.html">学園祭について</a></li>
            <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
            <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
            <br>
            <li><h3>外部リンク</h3></li>
            <li><a class="outlink" href="https://www.kogakuin.ac.jp/">▶工学院大学</a></li>
            <li><a class="outlink" href="https://www.ns.kogakuin.ac.jp/~wws5024/">▶第59回八王子祭</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

  <!-- top-view -->
  <div id="top-view">
    <video autoplay playsinline muted>
      <source src="../video/information.mp4" type="video/mp4" />
    </video>
  </div>

  <main id="main">
    <div id="gakupro" class="sub-contents">
      <div class="container">
        <div class="sub-set">
          <h2 class="sub-ttl">学生プロジェクト展示</h2>
          <!-- <h3>工学院大学みつばちプロジェクト</h3> -->
          <div class="overview">
            <div class="overview-box">
              <img src="../images/sub-page/mitupro1.jpg" alt="">
              <div class="overview-text">
                <h4>工学院大学みつばちプロジェクト</h4>
              </div>
            </div>
          </div>
          <div class="sub-set-item">
              <h3>活動内容</h3>
              <!-- <div class="img-text-box"> -->
                <img class="inner-left-img" src="../images/sub-page/mitupro2.jpg" alt="">
                <p class="inner-text">
                  私たちはミツバチを飼育する「養蜂」を行うプロジェクトです。<br>
                  通常は週に 1 度の内検と呼ばれるミツバチの巣を点検する作業を行っています。<br>
                  そして学園祭や環境や農業に関するイベントに参加して私たちの活動や養蜂に関する広報的活 動も行っています。
                </p>
              <!-- </div> -->
              <h3>制作物</h3>
              <p>
                外部の企業や Science Create Project の方々と協力をしてハチミツを利用した入浴料とハンドクリームをこれまでに製作しました。
              </p>
              <div class="two-box">
                <div class="img-text">
                  <img src="../images/sub-page/mitupro3.jpg" alt="">
                  <p>入浴料:2018 年度制作</p>
                </div>
                <div class="img-text">
                  <img src="../images/sub-page/mitupro4.jpg" alt="">
                  <p>ハンドクリーム:2019 年度制作</p>
                </div>
              </div>
              <h3>SNS</h3>
              <p>
                <a href="https://www.kogakuin.ac.jp/honeybee/">工学院大学みつばちプロジェクト特集　<i class="fas fa-external-link-alt"></i></a><br>
                <a href="https://www.youtube.com/channel/UCaR8U13guDjtaQIs5CYSO4g">YouTube　<i class="fas fa-external-link-alt"></i></a><br>
                <a href="https://twitter.com/honeyfarming">Twitter　<i class="fas fa-external-link-alt"></i></a><br>
                <a href="https://www.instagram.com/k125ske/">Instagram　<i class="fas fa-external-link-alt"></i></a><br><br>
              </p>
          </div>

              <div class="overview">
                <div class="overview-box">
                  <img src="../images/sub-page/krp1.jpg" alt="">
                  <div class="overview-text">
                    <h4>KRP(工学院大学ロボットプロジェクト)</h4>
                  </div>
                </div>
              </div>
          <div class="sub-set-item">
              <h3>活動内容</h3>
              <!-- <div class="img-text-box"> -->
                <img class="inner-left-img" src="../images/sub-page/krp2.jpg" alt="">
                <p class="inner-text">
                  KRP(Kogakuin Robot Project の略)とは、2000 年に始動した、ロボット制作を軸とした工学院 大学の学生プロジェクトです。<br>
                  KRP では、ロボットのアイデアを出す段階から実際に制作するまで、全ての工程を学生が行い、ロボットの回路・機構・制御などのロボット製作に関する技術を基礎から学ぶことができます。<br>
                  さらに、ロボット制作に必要な創造性や技術を磨くとともに、チームでロボットを制作することでコミュニケーション力をつけ、さらに制作の難しさや楽しさを経験することができます。<br>
                  KRP は、基本的に毎年 6 月に開催される「NHK ロボットコンテスト」、さらにその優勝者だけが 出場できる世界大会「ABUロボットコンテスト」への出場を目標に活動しています。
                </p>
              <!-- </div> -->
              <h3>過去の大会出場歴、受賞歴、成果</h3>
              <img class="inner-left-img" src="../images/sub-page/krp3.jpg" alt="">
              <p>
                2002 年 NHK 大学ロボコン出場【競技課題:富士山頂を目指せ!】 2003 年 NHK 大学ロボコン出場【競技課題:タクローの覇者】 ◆技術賞/特別賞 Panasonic 受賞<br>
                2005 年 NHK 大学ロボコン出場【競技課題:万里の長城を照らせ!】 2006 年 NHK 大学ロボコン出場【競技課題:ツインタワー・ビルダー】 ◆デザイン賞受賞<br>
                2008 年 NHK 大学ロボコン出場【競技課題:ゴヴィンダ】<br>
                2009 年 NHK 大学ロボコン出場【競技課題:旅は道連れ 勝利の太鼓を打て】<br>
                2010 年 NHK 大学ロボコン出場【競技課題:ロボ・ファラオ ピラミッドを築け】<br>
                2011 年 NHK 大学ロボコン出場【競技課題:ロイ・クラトンの火をともせ!】<br>
                2012 年 NHK 大学ロボコン出場【競技課題:平安大吉(ペンオンタイガ)】<br>
                2013 年 NHK 大学ロボコン出場【競技課題:THE GREEN PLANET】<br>
                2014 年 NHK 大学ロボコン出場【競技課題:A SALUTE TO PARENTHOOD】<br>
                2015 年 NHK 大学ロボコン出場【競技課題:ROBOMINTO:BADMINTON ROBO-GAME】 2016 年 NHK 大学ロボコン出場【競技課題:Clean Energy Recharging the World】<br>
                2017 年 NHK 大学ロボコン出場【競技課題:The Landing Disc】◆デザイン賞受賞<br>
                2020 年 Discovery Hackathon2020 入賞<br>
                2021 年 NHK 大学ロボコン出場【競技課題:投壺 ~トゥフー~】◆特別賞 東京エレクトロン株式会社受賞
              </p>
              <h3>制作物</h3>
              <p>
                NHK 学生ロボコン 2021 の競技テーマは「投壺 ~トゥフー~」という古代中国の伝統的な壺へ 矢を投げ入れる遊びを模したルールでした。<br>
                このロボットはそのテーマに合わせ、遠くに設置された小さな壺をめがけて矢を発射する発射 機構を搭載したロボットです。<br>
                最大 12m先まで矢を飛ばす性能を持ち、狙った壺めがけ正確に 矢を発射することができます。
              </p>
              <img class="inner-left-img" src="../images/sub-page/krp4.jpg" alt="">
              <p>写真は、10 月 10 日に開催された NHK 学生ロボコン 2021 に出場し、見事特別賞を獲得したス
                ローイングロボット(TR)です。</p>
              <h3>SNS</h3>
              <p>
                <a href="https://www.kogakuin.ac.jp/archive/robocon.html">工学院大学公式 HP KRP ページ　<i class="fas fa-external-link-alt"></i></a><br>
                <a href="http://www.ns.kogakuin.ac.jp/~wwa1081/">official web page　<i class="fas fa-external-link-alt"></i></a><br>
                <a href="https://twitter.com/krp_kouhou">Twitter　<i class="fas fa-external-link-alt"></i></a><br><br>
              </p>
              </div>
              <div class="overview">
                <div class="overview-box">
                  <img src="../images/sub-page/so-ra-1.jpg" alt="">
                  <div class="overview-text">
                    <h4>工学院大学ソーラーチーム</h4>
                  </div>
                </div>
              </div>
          <div class="sub-set-item">
              <h3>活動内容</h3>
              <img class="inner-left-img" src="../images/sub-page/so-ra-2.jpg" alt="">
              <p>
                工学院大学ソーラーチームは、太陽光を動力源としたソーラーカーの開発をして、独創的な車体 をモットーに世界大会優勝を目指しています。<br>
                2019 年に開催された世界最高峰のソーラーカーレース、2019 Bridgestone World Solar Challenge で 5 位に入賞しました。<br>
                オーストラリア政府の最高研究機関より、CSIRO イノベーションアワ ードを日本勢で初めて受賞しました。<br>
                今年度より次世代教育プログラムを開始し、附属中高自動車のサポートを通した人材育成活動 も開始しました。<br>
                8 月に秋田県大潟村で行われた国内大会、World Green Challenge では、2 年後の世界大会を見 据えオーストラリアで主役となる下級生メンバーが準優勝を勝ち取りました。<br>
                10 月は本年度に中止となった Bridgestone World Solar Challenge の代えのオンライン大会 Telemetry Challenge に参加しました。<br>
                チームは車体を製作するだけでなく、帝人様やブリヂストン様などの展示会、モーターショー、 科学教室、オープンキャンパスに参加する社会貢献活動を行っております。<br>
                ソーラービークル研 究センターとして国際学会などの学術的な機関へ参加しています。<br>
                チーム運営は技術のみならず、スポンサー集め、広報を含むチームマネジメントが重要になりま す。総合的な活動を学生主体で行っています。<br>
                2023 年オーストラリアで世界優勝を目指し、鋭意、活動をしています。<br><br>
              </p>
              <h3>過去の大会出場歴、受賞歴、成果</h3>
              <img class="inner-left-img" src="../images/sub-page/so-ra-3.jpg" alt="">
              <p>
                2011年	8月  ワールド・グリーン・チャレンジ　準優勝
                （前回大会の経験を活かし準優勝の躍進。）<br>
                2012年	8月  ワールド・グリーン・チャレンジ　優勝
                ソーラーカー部門とチャレンジクラスで優勝、 2冠制覇。<br>
                2013年10月 ブリヂストンワールドソーラーチャレンジ
                2号機Practiceを製作し、世界初参戦。
                世界で最初にブリヂストンよりOlogicタイヤ供給を得る。<br>
                2014年	8月  ワールド・グリーン・チャレンジ　優勝
                技術賞、大潟村村長賞を受賞。断トツの成績で優勝。<br>
                2015年	10月 ブリヂストンワールドソーラーチャレンジ　準優勝
                3号機OWLを製作し参戦。レース走行はトップでゴール。
                総合順位で準優勝。<br>
                2016年	8月　ワールド・グリーン・チャレンジ(国内)　優勝
                大会新記録樹立。チーム史上初・女性ドライバー誕生。<br>
                2017年	10月 ブリヂストンワールドソーラーチャレンジ　7位
                4号機Wingを製作し参戦。独創的な車体形状で注目を浴びる。<br>
                2018年	8月　ワールド・グリーン・チャレンジ(国内)　優勝<br>
                古川電池技術賞を受賞　<br>
                電気学会 電子・情報・システム部門大会 優秀ポスター賞を受賞<br>
                2019年	10月 ブリヂストンワールドソーラーチャレンジ　5位
                5号機Eagleを製作し参戦。<br>
                オーストラリア連邦科学産業研究機構(CSIRO)公認の技術賞
                「CSIROテクニカルイノベーションアワード」を日本勢初で受賞。<br>
                帝人未来フォーラム　優秀賞を受賞<br>
                2021年8月　ワールド・グリーン・チャレンジ(国内)　準優勝
                5号機Eagleで参戦。下級生メンバーで勝利を勝ち取る。<br>
              </p>
              <h3>制作物</h3>
              <p>
                “自然模倣”のデザインで空気抵抗を大幅削減
                ソーラーパネルには人工衛星用太陽電池を搭載するなど、航空宇宙用の材料を利用した最新技術を搭載しています。車体先頭（ノーズ）は受ける風を車体後方へ綺麗に流すよう鷲（Eagle）のくちばしを模した形状で、“生物模倣”となる設計を行いました。
                また、学生自らが開発・設計した多くのアイデアを単胴型車両に取り入れ空気抵抗を大きく改善しました
              </p>
              <img class="inner-left-img" src="../images/sub-page/so-ra-4.jpg" alt="">
              <h3>SNS</h3>
              <p>
                <a href="https://www.kogakuin.ac.jp/solar/">Official Web page　<i class="fas fa-external-link-alt"></i></a><br>
                <a href="https://www.youtube.com/user/KogakuinSolarCAR">YouTube　<i class="fas fa-external-link-alt"></i></a><br>
                <a href="https://twitter.com/KGU_Solar_Car">Twitter　<i class="fas fa-external-link-alt"></i></a><br>
                <a href="https://www.instagram.com/kogakuin.solar.team/">Instagram　<i class="fas fa-external-link-alt"></i></a><br>
                <a href="https://www.facebook.com/KGUsolarcar">Facebook　<i class="fas fa-external-link-alt"></i></a><br><br>
              </p>
              </div>
            <div class="overview">
              <div class="overview-box">
                <img src="../images/sub-page/model-rocket1.jpg" alt="">
                <div class="overview-text">
                  <h4>モデルロケットプロジェクト</h4>
                </div>
              </div>
            </div>
          <div class="sub-set-item">
            <h3>活動内容</h3>
            <img class="inner-left-img" src="../images/sub-page/model-rocket2.jpg" alt="">
              <p>
                私達はモデルロケットとハイブリッドロケットの二種類のロケット開発を行っています。<br>
                モデルロケットとは、紙材や木材を用いたロケットで、燃料に火薬を混合したものを使います。エンジンは全て既製品で、国内で活発に打ち上げが行われています。<br>
                もう一種のハイブリッドロケットは、酸化剤と固形燃料(還元剤)の燃焼反応により推進するロケットです。<br>
                金属加工を用いることも多く、製作と打上において高い技術を要します。このロケットのメリットは到達高度が高いことや、頑丈なのでたくさんの物を載せられることです。<br>
                普段は八王子キャンパスの夢づくり工房で活動を行っています。加えて、毎年夏と春に県外で共同打上実験が行われており、そこでの打上活動を頑張っています。
              </p>
              <h3>過去の大会出場歴、受賞歴、成果</h3>
              <img class="inner-left-img" src="../images/sub-page/model-rocket3.jpg" alt="">
              <p>
                2019年に伊豆大島共同打上実験にてハイブリッドロケットを打ち上げました。
              </p>
              <h3>制作物</h3>
              <img class="inner-left-img" src="../images/sub-page/model-rocket4.jpg" alt="">
              <p>
                外部の企業や Science Create Project の方々と協力をしてハチミツを利用した入浴料とハンドクリームをこれまでに製作しました。
              </p>
              <h3>SNS</h3>
              <p>
                <a href="https://kasa-modelrocket.mystrikingly.com">Official web page　<i class="fas fa-external-link-alt"></i></a><br>
                <a href="https://twitter.com/kasa85501732">Twitter　<i class="fas fa-external-link-alt"></i></a>
              </p>
              </div>
        </div>
        <div class="sub-set">
          <div class="back-btns">
            <a class="home-btn" href="../index.html">
              <img src="../images/sub-page/home.png" alt="">
              HOMEに戻る
            </a>
            <a class="back-btn" href="#" onclick="history.back(-1);return false;">
              &lt;前のページに戻る
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>

    <!-- footer -->
  <footer id="footer">

    <!-- footer-top -->
    <div id="footer-top">
      <ul class="page-links">
        <li><a href="https://www.kogakuin.ac.jp/">工学院大学</a></li>
        <li><a href="https://www.ns.kogakuin.ac.jp/~wws5024/">第59回八王子祭</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="corona-notes.html">新型コロナウイルス感染症対策</a></li>
        <li><a href="festival.html">学園祭について</a></li>
        <li><a href="https://docs.google.com/forms/d/1D3wyqk7WIxsaBli8Iw8xoVQbkfr70qDmuLQFO-STx1Y/edit">お問い合わせ</a></li>
      </ul>
      <hr>
      <div class="footer-info">
        <div class="footer-info-left">
          <img src="../images/72ndrogo_white.png" alt="">
          <ul class="items">
            <li class="item">工学院大学 学園祭実行委員会 新宿祭実行部</li>
            <li class="item">Address:〒163-8677東京都新宿区西新宿1丁目24-2</li>
            <li class="item">Tel:<a href="">03-3348-9638</a></li>
            <li class="item">E-mail:<a href="">wws5011@ns.kogakuin.ac.jp</a></li>
            <li class="item">G-mail:<a href="">shinjukusai72@gmail.com</a></li>
          </ul>
        </div>
        <div class="footer-info-right">
          <a class="youtube" href="https://www.youtube.com/channel/UCnpniRRt0FdUFXYxQ1n0yjg"></a>
          <a class="twitter" href="https://twitter.com/jukusai_72"></a>
          <a class="instagram" href="https://www.instagram.com/72nd_jukusai/"></a>
        </div>
      </div>

    </div>

    <!-- footer-bottom -->
    <div id="footer-bottom">
      <p>©Kogakuin University 72nd Shinjuku Festival.</p>
    </div>

  </footer>
  <!-- script -->
  <script src="../js/header.js"></script>
</body>
</html>